<app-header></app-header>
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <h4>Filter</h4>
                <button (click)="getAllRecipes()" class="btn mt-4">All</button> <br>
                <!-- cuisine -->
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Cuisine Type
                  </button> <br>
                  <div class="collapse" id="collapseExample">
                   <button (click)="filterrecipes('cuisine','Italian')" class="btn">Italian</button>
                   <button (click)="filterrecipes('cuisine','Asian')" class="btn">Asian</button>
                   <button (click)="filterrecipes('cuisine','American')" class="btn">American</button>
                   <button (click)="filterrecipes('cuisine','Mexican')" class="btn">Mexican</button>
                   <button (click)="filterrecipes('cuisine','Pakistani')" class="btn">Pakistani</button>
                   <button (click)="filterrecipes('cuisine','Japanese')" class="btn">Japanese</button>
                   <button (click)="filterrecipes('cuisine','Thai')" class="btn">Thai</button>
                   <button (click)="filterrecipes('cuisine','Indian')" class="btn">Indian</button>
                   <button (click)="filterrecipes('cuisine','Turkish')" class="btn">Turkish</button>
                   <button (click)="filterrecipes('cuisine','Smoothie')" class="btn">Smoothie</button>

                  </div>


                  <!-- meal type -->
                  <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExamplemealType" aria-expanded="false" aria-controls="collapseExamplemealType">
                    Meal Type
                  </button>
                  <div class="collapse" id="collapseExamplemealType">
                   <button (click)="filterMealrecipes('mealType','Dinner')" class="btn">Dinner</button>
                   <button (click)="filterMealrecipes('mealType','Lunch')" class="btn">Lunch</button>
                   <button (click)="filterMealrecipes('mealType','Snack')" class="btn">Snack</button>
                   <button (click)="filterMealrecipes('mealType','Dessert')" class="btn">Dessert</button>
                   <button (click)="filterMealrecipes('mealType','Appetizer')" class="btn">Appetizer</button>
                   <button (click)="filterMealrecipes('mealType','Breakfast')" class="btn">Breakfast</button>
                   <button (click)="filterMealrecipes('mealType','Beverage')" class="btn">Beverage</button>
                   <button (click)="filterMealrecipes('mealType','Salad')" class="btn">Salad</button>
                  

                  </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center">
                <h1>All Recipes</h1>
                <input type="text" class="form-control w-50" placeholder="Search Recipe Here!" [(ngModel)]="searchkey">
            </div>
            <div class="row my-4">
               
               @if(allRecipes.length>0){
                @for (item of allRecipes | search:searchkey | paginate: { itemsPerPage: 6, currentPage: p}; track $index) {
                  <div class="col-md-4 px-5">
                    <div class="card border-0" style="width:100%;">
                        <img [src]="item.image" class="card-img-top rounded" alt="..." height="200px" width="200px">
                        <div class="card-body">
                          <h5 class="card-title">{{item.name}}</h5>
                            <p>cuisine : {{item.cuisine}}</p>
                        </div>
                      </div>
                </div>
                
                }
                @if((allRecipes | search:searchkey).length==0) {
                  <h4 class="text-danger">No Items...</h4>
                 }
               }
               @else {
                <h1>No Items...</h1>
               }
                
            </div>
            <div class="d-flex justify-content-center">
              <pagination-controls class="my-pagination" (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>

           
        </div>
    </div>
</div>
